[submodule "controller/concurrentqueue"]
	path = controller/concurrentqueue
	url = git@github.com:cameron314/concurrentqueue.git
[submodule "docker/poco"]
	path = docker/poco
	url = git@github.com:pocoproject/poco.git
[submodule "docker/wait-for"]
	path = docker/wait-for
	url = git@github.com:eficode/wait-for.git
[submodule "controller/cereal"]
	path = controller/cereal
	url = git@github.com:USCiLab/cereal.git
[submodule "server/static/fecha"]
	path = server/static/fecha
	url = git@github.com:Sitiritis/fecha.git
